<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weChat.mapper.ArticlePublisherMapper">
    <resultMap id="BaseResultMap" type="com.weChat.entity.ArticlePublisher">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="PUBLISHER_UUID" jdbcType="VARCHAR" property="publisherUuid"/>
        <result column="PUBLISHER_NAME" jdbcType="VARCHAR" property="publisherName"/>
        <result column="PUBLISHER_IMAGE" jdbcType="VARCHAR" property="publisherImage"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
    </resultMap>
</mapper>